In [11]:
import os
import pandas as pd
from torchvision.io import read_image
import torch.utils.data
# class mydataset(Dataset):# 这里可以继承torch的数据集类进行覆写，也可以不继承，直接自己去定义
#     def __init__():
#     #定义映射数据集所需要的一些基本的属性（例如数据样本的文件目录，数据的格式等等），
#     #如果是映射coco格式的数据集，则会使用pycocotools的COCO类进行数据提取的预定义
#     ...

#     def __len__():#这里一般返回的是数据集的长度（就是数据集样本的数量）
#     ...

#     def __getitem__():
#     #这里就是数据集映射功能的核心函数，dataloader就是通过它来对数据集的样本进行提取映射为所需要的格式
#     #当然，在进行数据映射的时候，也可以在这个方法中添加一些数据增强的功能，这都是无限制的。
#     ...

In [12]:
data_pd=pd.DataFrame([range(100),[x*x for x in range(100)]]).T
data_pd.columns=['x','y']
data_pd

     x     y
0    0     0
1    1     1
2    2     4
3    3     9
4    4    16
..  ..   ...
95  95  9025
96  96  9216
97  97  9409
98  98  9604
99  99  9801

[100 rows x 2 columns]

In [36]:
class Demo1Dataset(torch.utils.data.Dataset):
    def __init__(self):
        data_pd=pd.DataFrame([range(100),[x*x for x in range(100)]]).T
        data_pd.columns=['x','y']

    def __len__(self):
        return len(data_pd)

    def __getitem__(self, idx):
        return data_pd.x.values[idx],data_pd.y.values[idx]

In [37]:
dataloader=Demo1Dataset()

In [41]:
for xx ,yy in dataloader:
    print(xx,yy)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361
20 400
21 441
22 484
23 529
24 576
25 625
26 676
27 729
28 784
29 841
30 900
31 961
32 1024
33 1089
34 1156
35 1225
36 1296
37 1369
38 1444
39 1521
40 1600
41 1681
42 1764
43 1849
44 1936
45 2025
46 2116
47 2209
48 2304
49 2401
50 2500
51 2601
52 2704
53 2809
54 2916
55 3025
56 3136
57 3249
58 3364
59 3481
60 3600
61 3721
62 3844
63 3969
64 4096
65 4225
66 4356
67 4489
68 4624
69 4761
70 4900
71 5041
72 5184
73 5329
74 5476
75 5625
76 5776
77 5929
78 6084
79 6241
80 6400
81 6561
82 6724
83 6889
84 7056
85 7225
86 7396
87 7569
88 7744
89 7921
90 8100
91 8281
92 8464
93 8649
94 8836
95 9025
96 9216
97 9409
98 9604
99 9801

In [40]:
yy

0

In [39]:
xx

0

In [9]:
data_pd=pd.DataFrame([range(100),[x*x for x in range(100)]]).T
data_pd.columns=['x','y']
data_pd

     x     y
0    0     0
1    1     1
2    2     4
3    3     9
4    4    16
..  ..   ...
95  95  9025
96  96  9216
97  97  9409
98  98  9604
99  99  9801

[100 rows x 2 columns]